language: php

env:
  - NETTE=default
  - NETTE=@dev
  - NETTE=2.2.*

php:
  - 5.5
  - 5.6
  - 7

before_script:
  - "php tests/prepare-composer.php"
  - composer self-update
  - composer install --no-interaction --prefer-source --dev
  - ./vendor/bin/parallel-lint -e php,phpt --exclude vendor .

script: ./vendor/bin/tester -c ./tests/php.ini-unix ./tests/

after_failure:
  - 'for i in $(find ./tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done'
